# Firebase web app config for Vite
VITE_FIREBASE_API_KEY=AIzaSyC76g7LCYx4uE-rkRgFAV77j0aWeHBXZz0
VITE_FIREBASE_AUTH_DOMAIN=easy-meterr0.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=easy-meterr0
VITE_FIREBASE_STORAGE_BUCKET=easy-meterr0.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=757963812016
VITE_FIREBASE_APP_ID=1:757963812016:web:ef4c3312c159163db61f75
